.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}
.btn{
    height: 40px;
    width: 100px;
}
.navlinks{
    display: flex;
    gap: 20px;
}
.menu-toggle{
    display: none;
    cursor:pointer
}
@media (max-width:768px){

.navlinks{
display:none;
flex-direction:column;
position:absolute;
top:60px;
left:80%;
width:100%;
background:white;
padding:20px;
margin-top: 10px;
}

.navlinks.active{
display:flex;
}

.menu-toggle{
display:block;
}

}